@model Gusto.Models.SearchViewModel
@{
    ViewData["Title"] = "SaveSearch";
}

<h1>Resultat de la recherche Search </h1>

<div class="Row">
    @foreach (var d in Model.SearchRecetteResult)
    {
        <article class="info-block col-md-4">
            <img src=" @d.LienPhoto" width="150" height="150" />
            <h5>@Html.ActionLink(d.Titre, "AfficherRecette", "Home", new { IdRecette = d.ID }, null)</h5>
            <p>@d.Description</p>
        </article>

    }

</div>