@model IEnumerable<GustoLib.Data.Recette>

@{
    ViewData["Title"] = "ListByUserId";
}

<h1>ListByUserId</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="col-md-9">
    <div class="row">
        @foreach (var item in Model)

        {
            <a asp-action="Details" asp-route-id="@item.ID">
                <article class="info-block col-md-4">

                    <img src=" @item.LienPhoto" width="150" height="150" />
                    <h5>@item.Titre</h5>
                    <p>@item.Description</p>
                </article>
            </a>
        }
    </div>
</div>
